
.sensor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.sensor-card {
  border: 1px solid black;
  padding: 16px;
  margin: 16px;
  background: #ff6469;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sensor-card.active {
  background: lightgreen;
}

.sensor-card__delete-button {
  cursor: pointer;
}

.add-sensor-button {
  cursor: pointer;
  background-color: #3fedf9;
  padding: 8px 16px;
  margin: 16px;
}

.add-sensor-modal {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
  transition-property: opacity;
}
.add-sensor-modal.hidden {
  opacity: 0;
  pointer-events: none;
}
.dim {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top:0;
  background-color: black;
  opacity: 0.3;
  z-index: 0;
}
.add-sensor-form {
  position: fixed;
  background-color: white;
  max-width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.add-sensor-modal__button {
  align-self: flex-end;
  background-color: #3fedf9;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  border: none;
}
.add-sensor-modal__cancel {
  background: #ff6469;
}
